body>header>div.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body>section.instructions>div>ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}