@font-face {
    font-family: LifeCraft;
    src: local("lifecraft font"),
            local("lifecraft_font")
            url('lifecraft_font-webfont.woff');
}

h1, h2, h3 {
    font-family: LifeCraft;
    letter-spacing: 3px;
}