@font-face {
    font-family: LifeCraft;
    src: local("lifecraft font"),
            local("lifecraft_font")
            url('lifecraft_font-webfont.woff');
}

h1, h2, h3 {
    font-family: LifeCraft;
    letter-spacing: 3px;
}

body {
    background-image: url("../img/parch.jpg");
    background-position: fixed;
    background-size: cover;
}

.header>img {
    width: 756px;   
}

.instructions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.instructions {
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    width: 300px;
}

.generator>div#user_info>div#image_div>img {
    width: 150px;
}

.generator>div#user_info>div#faction_div>img {
    width: 140px;
}

.generator>div#user_info>div#race_div>img {
    width: 120px;
}

body>table {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, rgb(0, 60, 255), rgb(202, 172, 0));
    padding-right: 30px;
    padding-left: 30px;
    margin: 0%;
}

#resources {
    list-style: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 0));
    background-color: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 0));
    /*border-image-source: linear-gradient(to right, rgb(0, 60, 255), rgb(202, 172, 0));*/
    padding-right: 30px;
    color: white;
}

.collapsible {
  background-color: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 0));
  background: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 0));
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 0));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a {
    color: gold;
}